body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.navbar {
    background-color: black;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    

}

.navbar > a{

  text-decoration: none;
  font-size: 25px;

  padding-left: 20px;
  padding-right: 20px;

  color: azure;

}

.navbar a:hover {

     font-size: 40px;
     color:red ;
     transition-duration: 0.4s;
}


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.timeline {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 

}

.year {
    position: relative;
    width: 100px;
    text-align: center;
    color:aliceblue;
    font-size: 25px;

    padding: 10px 25px 10px 25px;
    margin-left: 25px;
    margin-right: 25px;

    border: 2px solid white;
    border-radius: 5px;
}
.year .tooltiptext {
    visibility: hidden;
    width: 150px;
    
    color: #fff;
    text-align: center;
    border: 2px solid beige;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px; 
    opacity: 0;
    transition: opacity 0.3s;
    
  }

  
.year:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.year:hover{

    font-size: 40px;
     transition-duration: 0.4s;
     color:white;
}
.tooltiptext{

    font-size: 18px;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    filter: brightness(70%); 
    z-index: -1; 
  }

  .specinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .spec {
    margin: 0 20px;

    width: 200px;
    height: 200px;

    padding: 10px 20px 10px 20px;
    
    border: 2px solid aliceblue;
    border-radius: 7px;



  }
  
  .title {
    font-weight: bold;
    color: white;
    font-size: 28px;

  }

.info{

    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.baseturbo{
    display: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.spec:hover .baseturbo{

    display: block;

    
}
.toyota{

   display: flex;
   font-size: 40px;
   font-family: Arial, Helvetica, sans-serif;
   color: #fff;

   margin-right: 100px;



}

.hometext{

  position: fixed;
  bottom: 20px;
  left: 100px;
  color: white;
  z-index: 1;
  padding-left: 10px;

  border-left: 2px solid aliceblue;

}

.copyright{

  position: fixed;
  bottom: 20px;
  left: 80%;

  z-index: 1;
  padding-right: 100px;
}

.link{

  font-size: 22px;
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link:hover{

  font-size: 26px;
  color: aliceblue;
  transition-duration: 0.5s;
}